<div class="col-5 pl-0 result-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="card card-header d-inline result-block">
    <strong>Symbol: </strong><%= @stock.ticker%>
    <strong>Company: </strong><%= @stock.name%>
    <strong>Price: </strong><%= @stock.last_price%>
    <% if current_user.can_track_stock?(@stock.ticker) %>
      <%= link_to 'Add to portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), method: :post, class:'btn btn-xs btn-success' %>
    <% else %>
        <span class="badge badge-secondary">
          you already tracking
          <%  if !current_user.under_stock_limit? %>
              10 stocks
          <% end  %>
          <% if current_user.stock_already_tracked?(@stock.ticker) %>
            this stock
          <% end %>
        </span>
    <% end %>
  </div>
<% end %>
